Chapters 4/Chapters 4.pyproj
Chapters 3/Chapters 3.pyproj
Chapters 2/Chapters 2.pyproj
Chapters 1/Chapters 1.pyproj
Chapters 4/__pycache__/
Think_Python/env/
Think_Python.sln
chapters.pyperf
.editorconfig
.vs/

